* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    position: relative;
    background-color: black;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
input:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 0 !important; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}

.App {
    background-color: #ffffff;
    position: relative;
    width: 375px;
    height: 700px;
    padding: 0 20px;
    overflow: hidden;
}

@media (max-width: 480px) {
    body {

    }

    .App {
        width: 100vw;
        height: 100vh;
    }
}

p {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.dialog-enter {
    opacity: 0;
}

.dialog-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.dialog-exit {
    opacity: 1;
}

.dialog-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
